#infoBar {
  background-color: slategrey;
  padding: 10px;
  font-family: 'Patrick Hand';
  font-size: 20px;
  text-align: center;
  color: white;
}
#flex-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: aquamarine;
}
#flex-input input {
  padding: 10px;
  font-family: 'Patrick Hand';
  font-size: 17px;
  border: none;
}
#flex-input button {
  border: none;
  background-color: slategrey;
  color: white;
  font-family: 'Patrick hand';
  padding: 10px;
}
#todo{
  background-color: aquamarine;
}
#todo-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#todo-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: wheat;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
}
#todo-item p {
  background-color: slategray;
  padding: 10px;
  color: white;
  width: 200px;
  border-radius: 10px;
  font-family: 'Patrick hand';
  font-size: 20px;
}
#btn-style {
  background-color: white;
  justify-content: center;
  height: 45px;
  width: 75px;
  transform: translateY(22px);
  border: none;
  font-family: 'Patrick hand';
  font-size: 20px;
  border-radius: 10px;
}
body {
  background-color: slategrey;
}