#infoBar {
  background-color: slategray;
  font-family: 'Patrick Hand';
  font-size: 20px;
  text-align: center;
  color: white;
  animation: info alternate 6s infinite;
}
@keyframes info {
  0% {}
  25% {transform: scale(1.05);}
}
#flex-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: slategrey;
}
#flex-input input {
  background-color: white;
  padding: 10px;
  font-family: 'Patrick Hand';
  font-size: 17px;
  border: none;
  border-radius: 10px;
}
#flex-input input:focus {
  outline: none;
}
#flex-input button {
  border: none;
  background-color: #EEEEEE;
  color: black;
  font-family: 'Patrick hand';
  padding: 10px;
  border-radius: 10px;
}
#todo-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#todo-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #2C74B3;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

#todo-item p {
  color: white;
  width: 200px;
  border-radius: 10px;
  font-family: 'Patrick hand';
  font-size: px;
  padding: 20px;
  transform: translate(0px, -10px);
  text-align: center;
}
#btn-style {
  background-color: white;
  justify-content: center;
  transform: translate(-10px, 10px);
  height: 45px;
  width: 75px;
  border: none;
  font-family: 'Patrick hand';
  font-size: 15px;
  border-radius: 10px;
  scale: 0.9;
}
body {
  background-color: slategrey;
}
#header {
  position: sticky;
  top: 0;
  z-index: 2;
}